<div class="container m-3 justify-content-center">

    <div class="row">
        <div class="col-11 text-center">
            <h2>Novo Pedido</h2>
        </div>
    </div>
    <div class="row  d-flex justify-content-center p-2 w-100">
        <div class="col-6 ">
            <form [formGroup]="form" (ngSubmit)="incluirPedido()">

                <!-- {{form.value | json}} -->

                <div class="form-group m-2">
                    <label for="cpfCliente" class="form-label">CPF Cliente </label> <span class="text-muted"> (opcional)
                    </span>
                    <input type="text" class="form-control" id="cpfCliente" autocomplete="off"
                        formControlName="cpfCliente"
                        [ngClass]="{'valido': form.get('cpfCliente')?.valid && !form.get('cpfCliente')?.pristine ,'invalido': !form.get('cpfCliente')?.valid && !form.get('cpfCliente')?.pristine}">
                    <div class="alert alert-danger"
                        [hidden]="form.get('cpfCliente')?.valid || form.get('cpfCliente')?.pristine">
                        <span *ngIf="form.get('cpfCliente')?.errors?.['pattern']">* Utilize o padrão 000.000.000-00
                        </span>
                    </div>
                </div>


                <div class="form-group m-2">
                    <label for="idProduto">Selecione um Produto</label>
                    <select class="form-select" formControlName="idProduto">
                        <option *ngFor="let produto of listaProdutos" [ngValue]=produto>
                            Id {{produto?.id}} - {{produto?.descricao}} - R$ {{produto?.preco}}
                        </option>
                    </select>
                    <div class="alert alert-danger"
                        [hidden]="form.get('idProduto')?.pristine || !form.get('idProduto')?.errors?.['required']  ">
                        <span>* Informe um produto!<br></span>
                    </div>
                </div>

                <div class="form-group m-2">
                    <label for="quantidade" class="form-label">Quantidade</label>
                    <input type="number" class="form-control" id="quantidade" autocomplete="off"
                        formControlName="quantidade">
                    <div class="alert alert-danger"
                        [hidden]="form.get('quantidade')?.valid || form.get('quantidade')?.pristine">
                        <span *ngIf="form.get('quantidade')?.errors?.['required']">* A quantidade é
                            obrigatória</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-start">

                        <div class="col-2">
                            <input type="submit" [disabled]="!form.valid" class=" mt-3 btn btn-primary" value="Enviar">
                        </div>
                        <div class="col-3">
                            <button class=" mt-3 btn btn-outline-warning" (click)="ngOnInit()">Limpar</button>
                        </div>

                        <div class="col-6 mt-4">
                            <h3 [ngStyle]="{fontSize:'22px',color:'#5662bd'}">Valor Total:
                                R$ {{this.form.value.quantidade*this.form.value.idProduto?.preco}}</h3>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--alert-->
    <app-alert-component [resposta]="resposta" [solicitacaoRespondida]="solicitacaoRespondida"></app-alert-component>