<div class="container justify-content-center">
    <div class="row m-3">
        <div class="col-11 text-center">
            <h2>Gerenciar Pedidos</h2>
        </div>
        <div class="row d-flex justify-content-center p-2 w-100">
            <div class="col-10">
                <table class="table align-middle mt-3 mb-0 bg-white">
                    <thead class="bg-light" class="text-center">
                        <tr>
                            <th>Id</th>
                            <th>Cliente</th>
                            <th>Data Pedido</th>
                            <th>Valor Total</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let pedido of listaPedidos" class="text-center"  >
                        <tr>
                            <td>
                                <p class="fw-normal mb-1 ms-3">{{pedido.id}}</p>
                            </td>
                            <td>
                                <p class="fw-bold mb-1 ms-3">{{pedido.cliente?.nome == null? '-':
                                    pedido.cliente?.nome }}</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{pedido.dataPedido | date: 'dd/MM/yyyy hh:mm'}}</p>
                            </td>
                            <td>
                                <p class=" text-start fw-bold mb-1">R$ {{pedido.valorTotal}}</p>
                            </td>
                            <td>{{enumString(pedido)}}</td>
                            <td>
                                <div>
                                    <button class="btn btn-outline-warning m-1 btn-sm"
                                        (click)="alterarStatus(pedido)">Status</button>
                                    <button class="btn btn-outline-primary m-1 btn-sm"
                                        (click)="acompanharPedido(pedido)">Detalhes</button>
                                    <button class="btn btn-outline-danger m-1 btn-sm"
                                        (click)="openDialog(pedido)">Remover</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--alert-->
    <app-alert-component [resposta]="resposta" [solicitacaoRespondida]="solicitacaoRespondida"></app-alert-component>