/* You can add global styles to this file, and also import other style files */

.btn-primary {
    --bs-btn-bg: #5662bd; 
    --bs-btn-border-color:#5662bd; 
    --bs-btn-hover-bg:  hsl(233, 40%, 64%); 
    --bs-btn-hover-border-color:  hsl(233, 40%, 64%); 
    --bs-btn-active-bg:  #6d76bb; 
    --bs-btn-active-border-color: #6d76bb; 
    --bs-btn-disabled-bg: #6d76bbd6; 
    --bs-btn-disabled-border-color:#6d76bbd6; 
}

.btn-outline-warning {
    --bs-btn-color: #5662bd; 
    --bs-btn-border-color: #5662bd; 
    --bs-btn-hover-color: rgb(255, 253, 253);
    --bs-btn-hover-bg:  #5662bd; 
    --bs-btn-hover-border-color: #5662bd; 
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #5662bd; 
    --bs-btn-active-border-color:   #5662bd; 
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #5662bd; 
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color:  #5662bd; 
    --bs-gradient: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
