.dropdown-menu {
    --bs-dropdown-link-hover-bg: #6d7ebb;
    --bs-dropdown-link-active-bg: #6d76bb;
    --bs-dropdown-link-hover-color: #ededed;
}

.navbar {
    --bs-navbar-color: #ededed;
    --bs-navbar-brand-color: #ededed;
}

.navbar-expand-lg {
    background-color: #6d76bb;
}

.logo {
    font-size: 22px;
    padding: 10px;
    background-color: #6d76bb;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    padding-left: 250px;
}

.nome {
    font-size: 32px;
    padding: 25px;
    height: 90px;
    color: #6f4a86dc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-around
}