<div class="container  d-flex m-0 justify-content-center">

    <div class=" row">
        <div class="col-12 mt-3">
            <img class="img-responsive" [src]='imagemCentro' width="350">
        </div>
    </div>
    <div class="row">
        <div class="col m-0 + nome">
            Bem-Vindos!<br> 
            Aqui voçê pode cadastrar, <br>
            consultar e editar <br>
            os Clientes, <br>
            Produtos e 
            Pedidos. <br>
         
        </div>
       
    </div>
    
    
</div>
